
      #map {
          height: 69%;
      }
      .map{
          background-color: #050322;
      }
      #infowindow{
         
      }
       .user-avatar {
         img {
            width: 30px;
            height: 30px;
             display: inline-block;
             border-radius: 50%;
             box-shadow: inset 0 0 10rem rgba(0,0,0,.25), 0 0 4rem rgba(255,255,255,.45);
           border-radius: 50%;
         }
        }
.name{     margin-top: 7px;
    float: left;
    margin-left: 37px;
    padding-top: 17px;
    size: 12px;
    font-size: 18px;
    color: #d94d14;
    }
    .me{
        position: absolute !important;
    }

    .me1{
        margin-right: 41px !important;
    margin-top: 0px !important;
    margin-bottom: 4px !important;
    margin-left: 0px !important;
    }
    .btn1{
        background-color: #050322 !important;
        color: white !important;
        border-radius: 10px !important;
        width: 80px !important;
        height: 32px !important;
       
    }
    
    
   
  