page-add-new-groups {
 ion-label{
     color:rgb(38,61,73);
 }
 .width{
    min-height: 60px !important;
}
ion-icon{
    line-height: 1 !important;
}

ion-icon, [icon-start] ion-icon {
    line-height: 1  !important;
}

}